html {
    font-family: sans-serif;
}
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body > header {
    background: #eee;
    flex: 0 0 auto;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

body > main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

header nav a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

input {
    padding: .25rem .5rem;
}