html {
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body > header,
body > footer {
    background: #eee;
    flex: 0 0 auto;
    padding: 1rem;
}

body > header {
    border-bottom: 1px solid #ccc;
}

body > main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

body > footer {
    font-size: .75rem;
    color: #aaa;
    text-align: center;
    border-top: 1px solid #ccc;
}

header nav a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

input {
    padding: .25rem .5rem;
}