dist
dist-newstyle
cabal.project.local
*.o
*.hi

/webcheck.pdf
/webcheck.tex
/webcheck.html

# profiling/flamegraph
webcheck.prof
webcheck.svg

/output
/generated-docs
/result*

.spago
.spago2nix
.psc-ide-port
