body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 16px;
    color: #111;
}

*, *:before, *:after {
    box-sizing: border-box;
}

code, pre {
    font-family: 'Inconsolata', monospace;
    font-size: 110%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

a {
    color: inherit;
}

h2 {
    font-size: 250%;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 150%;
    margin: 1em 0 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: .5em;
    vertical-align: top;
}
th {
    border-bottom: 2px solid #aaa;
}

section {
    display: flex;
    justify-content: center;
    background: #eee;
}

section .inner {
    flex: 0 1 1000px;
    padding: 8rem 3rem;
    max-width: 1000px;
}
@media screen and (max-width: 800px) {
    section .inner {
        padding: 4rem 1rem;
    }
}

section :first-child {
    margin-top: 0;
}

section.header {
    background: rgb(44,25,83);
    background: linear-gradient(144deg, rgba(44,25,83,1) 0%, rgba(83,41,170,1) 100%);
    color: #fff;
}
section.header .inner {
    display: flex;
    align-items: center;
}
section.header .project-name {
    text-align: center;
    flex: 1 0 auto;
    font-size: 100%;
    margin: 4rem 0;
}
section.header .project-name h1 {
    font-size: 600%;
    margin: 1rem 0;
    line-height: 1.1;
}

section.header .project-name .subtitle {
    margin: 0;
    font-size: 175%;
}


section.header .project-name .lead {
    text-transform: uppercase;
    margin: 0;
    color: #dc0;
    font-family: 'Oswald', sans-serif;
    font-size: 125%;
    font-weight: 600;
    letter-spacing: 1px;
}
@media screen and (max-width: 800px) {
    section.header .project-name {
        font-size: 75%;
    }
    section.header .subtitle {
        font-size: 125%;
    }
    section.header .inner {
        flex-direction: column;
    }
}

section.why-quickstrom .inner {
    flex-basis: 1200px;
}
section.why-quickstrom ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 0 4em;
}
section.why-quickstrom li {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
}

section.why-quickstrom li:last-child {
    margin-right: 0;
}
section.why-quickstrom li h3 {
    text-align: center;
}
section.why-quickstrom .icon {
    flex: 0 0 auto;
    font-size: 400%;
    color: #aaa;
    text-align: center;
}
section.why-quickstrom .icon i {
    line-height: 1;
}
section.why-quickstrom .content {
}

@media screen and (max-width: 800px) {
    section.why-quickstrom li {
        flex-basis: 100%;
    }
}

section.what-does-it-look-like {
    background: #fff;
}
section.what-does-it-look-like .inner {
    overflow-x: hidden;
}
.code-sample {
    border-left: 5px solid #ddd;
    width: 100%;
    overflow-x: auto;
    padding: 2rem;
}
.code-sample table {
    width: 100%;
    min-width: 800px;
    overflow-x: auto;
    margin: 0;
}
.code-sample td {
    padding: 1em 0;
}
.code-sample td:nth-child(2) {
    color: #666;
    font-style: italic;
    padding-left: 2em;
}
.code-sample .error {
    color: red;
    font-weight: 600;
}
@media screen and (max-width: 800px) {
    .code-sample {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
    }
}

section.sign-up {
    background: #222;
    color: #eee;
}
section.sign-up form {
    display: flex;
    margin: 2rem 0;
    max-width: 800px;
}
section.sign-up input {
    flex: 1 1 auto;
    font-size: 125%;
    padding: .75em;
    border: 0px;
    border-radius: 0px;
}
section.sign-up input[type=submit] {
    flex: 0 1 auto;
    margin-left: 4px;
    background: rgba(83,41,170,1);
    color: #fff;
}
section.sign-up .powered-by {
    color: #aaaaa
}
@media screen and (max-width: 800px) {
    section.sign-up form {
        flex-direction: column;
    }
    section.sign-up input {
        width: 100%;
        font-size: 100%;
    }
    section.sign-up input[type=submit] {
        flex: 0 1 auto;
        margin: 4px 0 0;
    }
}


section.footer {
    background: #111;
    color: #888;
    font-size: 90%;
}
section.footer .inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
section.footer p {
    margin: 1em 0;
}
