body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 16px;
    color: #111;
}

*, *:before, *:after {
    box-sizing: border-box;
}

code, pre {
    font-family: 'Inconsolata', monospace;
    font-size: 110%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

a {
    color: inherit;
}

h2 {
    font-size: 250%;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 150%;
    margin: 1em 0 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: .5em;
    vertical-align: top;
}
th {
    border-bottom: 2px solid #aaa;
}

section {
    display: flex;
    justify-content: center;
    background: #eee;
}

section .inner {
    flex: 0 1 1000px;
    padding: 8rem 3rem;
    max-width: 1000px;
}
@media screen and (max-width: 800px) {
    section .inner {
        padding: 4rem 1rem;
    }
}

section :first-child {
    margin-top: 0;
}

section.header {
    background: rgb(44,25,83);
    background: linear-gradient(144deg, rgba(44,25,83,1) 0%, rgba(83,41,170,1) 100%);
    color: #fff;
}
section.header .inner {
    display: flex;
    align-items: center;
}
section.header .project-name {
    flex: 1 0 auto;
    font-size: 100%;
}
section.header .project-name h1 {
    font-size: 500%;
    margin: 0 0 1rem;
    line-height: 1.1;
}

section.header .project-name .subtitle {
    margin: 0;
    font-size: 175%;
}


section.header .project-name h1:after {
    display: inline-block;
    content: "Coming soon!";
    text-transform: uppercase;
    font-size: 25%;
    vertical-align: top;
    color: #dc0;
    letter-spacing: 1px;
    padding: .25em .5em;
    border-radius: 2px;
}
@media screen and (max-width: 800px) {
    section.header .project-name {
        margin-top: 4rem;
        padding: 1rem;
        font-size: 75%;
    }
    section.header .subtitle {
        font-size: 125%;
    }
    section.header .inner {
        flex-direction: column;
    }
}

section.why-webcheck .inner {
    flex-basis: 1200px;
}
section.why-webcheck ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 0 4em;
}
section.why-webcheck li {
    flex: 0 1 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}
section.why-webcheck li:last-child {
    margin-right: 0;
}
section.why-webcheck .icon {
    flex: 0 0 8rem;
    font-size: 400%;
    color: #aaa;
    text-align: center;
}
section.why-webcheck .icon i {
    line-height: 1;
}
section.why-webcheck .content {
}

@media screen and (max-width: 800px) {
    section.why-webcheck ul {
        flex-wrap: wrap;
    }
    section.why-webcheck li {
        flex: 1 1 100%;
        flex-direction: column;
        margin: 2rem 0;
    }
    section.why-webcheck li h3 {
        text-align: center;
    }
    section.why-webcheck .icon {
        flex: 0 0 auto;
    }
}

section.what-does-it-look-like {
    overflow-x: auto;
    background: #fff;
}
section.what-does-it-look-like .inner {
    overflow-x: auto;
}
table.code-sample {
    width: 100%;
    margin: 2em 0;
    min-width: 800px;
}
table.code-sample td {
    padding: 1em 0;
}
table.code-sample td:nth-child(2) {
    color: #666;
    font-style: italic;
    padding-left: 2em;
}

section.sign-up {
    background: #222;
    color: #eee;
}
section.sign-up form {
    display: flex;
    margin: 2rem 0;
    max-width: 800px;
}
section.sign-up input {
    flex: 1 1 auto;
    font-size: 125%;
    padding: .5em;
}
section.sign-up input[type=submit] {
    flex: 0 1 auto;
    margin-left: 4px;
}
section.sign-up .powered-by {
    color: #aaaaa
}
@media screen and (max-width: 800px) {
    section.sign-up form {
        flex-direction: column;
    }
    section.sign-up input {
        width: 100%;
        font-size: 100%;
    }
    section.sign-up input[type=submit] {
        flex: 0 1 auto;
        margin: 4px 0 0;
    }
}


section.footer {
    background: #111;
    color: #888;
    font-size: 90%;
}
section.footer .inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
section.footer p {
    margin: 1em 0;
}
