body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 16px;
    color: #111;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

a {
    color: inherit;
}

h2 {
    font-size: 250%;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 150%;
    margin: 1em 0 0 0;
}

section {
    display: flex;
    justify-content: center;
    background: #eee;
}

section .inner {
    flex: 0 1 1200px;
    padding: 8rem 3rem;
    max-width: 1200px;
}
@media screen and (max-width: 800px) {
    section .inner {
        padding: 4rem 1rem;
    }
}

section :first-child {
    margin-top: 0;
}

section ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0 0 4em;
}
section li {
    flex: 1 1 33%;
    margin-right: 2em;
}
section li:last-child {
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    section ul {
        flex-wrap: wrap;
    }
    section li {
        flex: 1 1 100%;
        margin-right: 0;
    }
}

section.header {
    background: rgb(44,25,83);
    background: linear-gradient(144deg, rgba(44,25,83,1) 0%, rgba(83,41,170,1) 100%);
    color: #fff;
}
section.header .inner {
    display: flex;
    align-items: center;
    padding: 0;
}
section.header .project-name {
    flex: 1 0 auto;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 100%;
}
section.header .project-name h1 {
    font-size: 500%;
    margin: 0 0 1rem;
    line-height: 1.1;
}

section.header .project-name .subtitle {
    margin: 0;
    font-size: 175%;
}


section.header .project-name h1:after {
    display: inline-block;
    content: "Coming soon!";
    text-transform: uppercase;
    font-size: 25%;
    vertical-align: top;
    color: #dc0;
    letter-spacing: 1px;
    padding: .25em .5em;
    border-radius: 2px;
}
section.header img {
    opacity: 0.8;
    transition: 0.2s ease opacity;
    width: 100%;
    max-width: 557px;
    height: auto;
}
section.header img:hover {
    opacity: 1;
}
@media screen and (max-width: 800px) {
    section.header .project-name {
        margin-top: 4rem;
        padding: 1rem;
        font-size: 75%;
    }
    section.header .subtitle {
        font-size: 125%;
    }
    section.header .inner {
        flex-direction: column;
    }
    section.header img {
        opacity: 1;
    }
}

section.why-webcheck .inner {
    flex-basis: 1200px;
}

section.sign-up {
    background: #222;
    color: #eee;
}
section.sign-up form {
    display: flex;
    margin: 2rem 0;
}
section.sign-up input {
    flex: 1 1 auto;
    font-size: 125%;
    padding: .5em;
}
section.sign-up input[type=submit] {
    flex: 0 1 auto;
    margin-left: 4px;
}
section.sign-up .powered-by {
    color: #aaa;
}
@media screen and (max-width: 800px) {
    section.sign-up form {
        flex-direction: column;
    }
    section.sign-up input[type=submit] {
        flex: 0 1 auto;
        margin: 4px 0 0;
    }
}


section.footer {
    background: #111;
    color: #888;
}
section.footer .inner {
    padding: 1rem 3rem;
}
section.footer p {
    margin: 1em 0;
}
