html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    background: #fff;
    color: #222;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header, footer {
    padding: 1.5rem;
    background: #333;
    color: #eee;
}

header {
}

footer {
    font-size: 0.875rem;
}

header h1 {
    margin: 0 0 1rem;
    font-size: 150%;
}

header .summary {
}

header .summary.failed {
    color: #d33;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

main {
    flex: 1 0 auto;
    display: flex;
}

.trace, .details {
    flex: 0 1 25%; 
    border-right: 1px solid #ccc;
}

main ol, main ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main li {
    padding: 1rem;
    border-bottom: 1px #ccc solid;
    transition: background .1s ease;
}

.trace ol {
}

.trace li.active {
    background: #ddd;
}

.trace li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 1.5rem;
}
.trace li h2 {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    margin-bottom: .5rem;
    font-weight: 600;
}

.trace li h2:before {
    display: block;
    content: '';
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
}
.trace li.state h2:before {
    background-image: url('state-machine.svg');
}
.trace li.action h2:before {
    background-image: url('alert-box-outline.svg');
}

.trace .state {
}
.trace .state.stutter {
    color: #666;
}
.trace h2 {
    margin: 0;
    font-size: 100%;
}
.trace li * + * {
    margin: .5rem 0 0;
}

.trace .action {
}
.trace .action .selector,
.trace .action .key {
    flex: 1 1 auto;
    font-family: monospace;
    color: #666;
}
.trace .action .selected-index {
    flex: 0 0 auto;
    font-family: monospace;
    color: #aaa;
}

.details {
    flex: 0 1 0;
    background: #ddd;
    transition: flex 0.1s ease;
    border: none;
}
.details.active {
    flex-basis: 25%;
}
.details li {
    padding: 0;
}
.details h3 {
    font-size: 100%;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.details .queries {
    display: none;
}
.details .queries.active {
    display: block;
}
.details .queries .selector {
    font-family: monospace;
    font-weight: bold;
    whitespace: nowrap;
}

.details .elements li {
    padding: .5rem;
    background: #eee;
}
.details .elements li:hover {
    background: #f4f4f4;
}

.details .elements li:last-child {
    border: none;
}

.details .elements .changed {
    color: #c60;
}
.details .elements .added {
    color: #71a400;
}


.details .elements table {
    width: 100%;
    font-family: monospace;
}
.details .elements table th,
.details .elements table td {
    padding: .5rem;
}
.details .elements table td {
    text-align: right;
}

.details li.active {
    color: #fff;
}

.screenshot {
    flex: 1 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.screenshot-frame {
    position: relative;
}
.screenshot img {
}
.screenshot .marker {
    display: none;
    position: absolute;
    border: 2px solid red;
    box-shadow: 0 0 5px red;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 400px;
}

.screenshot .marker.visible {
    display: block;
}
