*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Free Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #222;
    color: #ccc;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

header, footer {
    padding: 1.5rem;
    background: #2a2a2a;
}

#root, .report {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 0.875rem;
}

header h1 {
    margin: 0 0 1rem;
    font-size: 150%;
    font-weight: 400;
}

header .summary p {
    margin: .5em 0;
}

header .summary.error,
header .summary.failure {
    color: #d33;
}

header .summary.success {
    color: #3d3;
}

section.error {
    padding: 1.5rem;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

main .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
main .controls {
    flex: 0 0 auto;
    display: flex;
}
main .controls button {
    background: #222;
    border: none;
    padding: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ccc;
}
main .controls button:disabled {
    cursor: not-allowed;
}
main .controls button:hover,
main .controls button:active {
    background: #2f2f2f;
}

.action, .states, .screenshots, .details {
    width: 100%;
    display: flex;
}

.action {
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.label {
    display: block;
    text-transform: uppercase;
    font-size: .75rem;
    color: #999;
}

.action-inner {
    width: calc(100%/6 * 3);
    text-align: center;
    margin-top: 1.5rem;
}
.action .action-details {
    min-height: 6rem;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}
.action .label {
    margin-bottom: 1.5rem;
}
.action h2 {
    font-size: 200%;
    line-height: 2rem;
    margin: -1rem 0 1rem 0;
}
.action .name {
    display: inline-block;
    background: #222;
    padding: 0 1rem;
}
.action .name.none {
    color: #666;
}
.action .selector {
    white-space: nowrap;
    font-family: 'Monaco', 'Consolas', 'Ubuntu Mono', monospace;
    margin: .25rem 0;
}
.action .selected-index {
    font-weight: bold;
}
.action .key {
    display: inline-block;
    padding: .5em .8em;
    background: #666;
    color: #fff;
    box-shadow: 2px 2px 0 #111;
    border-radius: 4px;
    font-size: 125%;
    font-weight: 600;
}

.states {
    display: flex;
    width: 100%;
    margin: 0;
}
.state {
    flex: 0 0 50%;
    text-align: center;
    color: #fff;
}

.state .label {
    margin: .5rem 0;
}

.state h2 {
    font-size: 150%;
}

.state .queries {
    display: none;
}

.screenshots {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.state-screenshot {
    flex: 0 0 49%;
    border: 2px solid #111;
    display: flex;
}
.state-screenshot-inner {
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    margin: 0 auto;
}
.state-screenshot img {
    display: block;
    width: 100%;
}
.state-screenshot-inner .marker {
    position: absolute;
    z-index: 0;
}
.state-screenshot-inner .marker-dim {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}
.state-screenshot-inner .marker-dim.active {
    opacity: 1;
}
.state-screenshot-inner .marker.active {
    border: 1px dashed #000;
    z-index: 2;
}
.state-screenshot-inner .marker.active.added {
    border-color: #2c2;
}
.state-screenshot-inner .marker.active.modified {
    border-color: orange;
}
.state-screenshot-inner .marker.active.removed {
    border-color: red;
}

.state-screenshot-inner .marker .marker-details {
    display: none;
    position: absolute;
    top: calc(100% + 1rem);
    background: #fff;
    color: #333;
    border: 1px solid #333;
    min-width: 10rem;
    z-index: 2;
    font-family: 'Inconsolata', monospace;
}
.state-screenshot-inner .marker.active .marker-details {
    display: block;
}
.state-screenshot-inner .marker .marker-details table {
    width: 100%;
}
.state-screenshot-inner .marker .marker-details td {
    padding: .5rem;
}
.state-screenshot-inner .marker .marker-details td:first-child {
    width: 1%;
    border-right: 1px solid #aaa;
}
.state-screenshot-inner .marker .marker-details td:last-child {
    text-align: right;
}

.state-screenshot-inner .marker .marker-details .added td {
    background: rgb(207, 255, 207);
    color: green;
}

.state-screenshot-inner .marker .marker-details .modified td {
    background: rgb(208, 208, 255);
    color: blue;
}

.state-screenshot-inner .marker .marker-details .removed td {
    background: rgb(255, 206, 206);
    color: red;
}
