*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Free Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #222;
    color: #ccc;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

header, footer {
    padding: 1.5rem;
    background: #2a2a2a;
}

#root, .report {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 0.875rem;
}

header {
    display: flex;
    align-items: center;
}

header .header-summary {
    flex: 1 1 auto;
}
header .controls {
    flex: 0 0 auto;
}

header h1 {
    margin: 0 0 1rem;
    font-size: 150%;
    font-weight: 400;
}

header .summary p {
    margin: .5em 0;
}

header .summary.error,
header .summary.failure {
    color: #d33;
}

header .summary.success {
    color: #3d3;
}

section.error {
    padding: 1.5rem;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

main .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
main .controls {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}
main .controls button {
    background: #222;
    border: none;
    padding: 2rem;
    cursor: pointer;
    color: #ccc;
    letter-spacing: 0.05em;
    font-size: 1rem;
    text-transform: uppercase;
}
main .controls button:disabled {
    cursor: not-allowed;
    color: #666;
}
main .controls button:hover,
main .controls button:active {
    background: #2f2f2f;
}

.selector {
    white-space: break-spaces;
    font-family: 'Monaco', 'Consolas', 'Ubuntu Mono', monospace;
    font-weight: normal;
}

.action-sequence, .action, .states, .screenshots, .details {
    width: 100%;
    display: flex;
}

.action-sequence {
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.action-sequence {
    width: calc(100%/6 * 3);
    margin: 2rem calc(100%/6 * 1.5) 1rem;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.action-sequence .label {
    margin: -2rem 0 0;
    line-height: 1rem;
    background: #222;
    display: block;
    text-transform: uppercase;
    font-size: .75rem;
    color: #999;
}

.action-sequence-inner {
    width: calc(100%/6 * 3);
    text-align: center;
    margin-top: 1.5rem;
}
.action-details h2 {
    font-size: 150%;
    margin: 1em 0 0 0;
}
.action-details .name {
    display: inline-block;
    background: #222;
    padding: 0 1rem;
}
.action-details .name.none {
    color: #666;
}
.action-details > * {
    margin: .5em 0;
}
.action-details .selected-index {
    font-weight: bold;
    margin-top: .25em;
}
.action-details .key {
    display: inline-block;
    padding: .5em .8em;
    background: #666;
    color: #fff;
    box-shadow: 2px 2px 0 #111;
    border-radius: 4px;
    font-size: 125%;
    font-weight: 600;
}

.states {
    display: flex;
    width: 100%;
    margin: 0;
}
.state {
    flex: 0 0 50%;
    text-align: center;
    color: #fff;
}

.state .label {
    margin: .5rem 0;
}

.state h2 {
    font-size: 150%;
}

.state .queries {
    display: none;
}

.screenshots {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.state-screenshot {
    flex: 0 0 49%;
    border: 2px solid #111;
    display: flex;
}
.state-screenshot-inner {
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    margin: 0 auto;
}
.state-screenshot img {
    display: block;
    width: 100%;
}
.state-screenshot-inner .marker {
    position: absolute;
    z-index: 0;
}
.state-screenshot-inner .marker-dim {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}
.state-screenshot-inner .marker-dim.active {
    opacity: 1;
}
.state-screenshot-inner .marker.active {
    border: 1px dashed #000;
    z-index: 2;
}
.state-screenshot-inner .marker.active.added {
    border-color: #2c2;
}
.state-screenshot-inner .marker.active.modified {
    border-color: orange;
}
.state-screenshot-inner .marker.active.removed {
    border-color: red;
}

.state-screenshot-inner .marker .marker-details {
    display: none;
    position: absolute;
    top: calc(100% + 1rem);
    background: #fff;
    color: #333;
    border: 1px solid #333;
    min-width: 10rem;
    z-index: 2;
    font-family: 'Inconsolata', monospace;
}
.state-screenshot-inner .marker.active .marker-details {
    display: block;
}

.details {
    display: flex;
    margin: 2rem 0;
}
.details .state-queries {
    flex: 1 1 50%;
}
.details ul {
    margin: 1rem;
}
.details ul ul {
    list-style: initial;
    padding-left: 1rem;
}
.details .element-state {
    margin: 1rem;
}

.element-state {
    width: 100%;
}
.element-state td {
    padding: .5rem;
    background: #333;
    color: #ccc;
}
.element-state td:first-child {
    width: 1%;
    border-right: 1px solid rgba(255,255,255,.2);
}
.element-state td:last-child {
    text-align: right;
}

.element-state .added td {
    background: rgb(54, 80, 54);
    color: rgb(207, 255, 207);
}

.element-state .modified td {
    background: rgb(39, 39, 92);
    color: rgb(208, 208, 255);
}

.element-state .removed td {
    background: rgb(83, 32, 32);
    color: rgb(255, 206, 206);
}