.specification-editor { 
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.specification-editor .main-pane,
.specification-editor .side-pane { 
    display: flex;
    flex-direction: column;
}

.specification-editor .main-pane { 
    flex: 1 1 70%;
    border-left: 1px solid #eee;
}

.specification-editor .side-pane { 
    flex: 1 1 30%;
    background: #f7f7f7;
    border-left: 1px solid #eee;
}

.specification-editor #editor { 
    flex: 1 1 60%;
    font-size: 1rem;
    font-family: monospace;
}
.specification-editor .check-log { 
    flex: 1 1 40%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-left: 1px solid #eee;
    color: #666;
    font-family: monospace;
    font-size: 1rem;
}
.specification-editor .check-log li { 
    padding: .25rem;
    border-bottom: 1px solid #ddd;
}
.specification-editor .check-log li.success { 
    background-color: #dfd;
    color: green;
}
.specification-editor .check-log li.failure { 
    background-color: #f9e7e7;
    color: red;
}
.specification-editor .check-log li.warning { 
    background-color: #ffd;
    color: #990;
}
.specification-editor .check-controls {
    display: flex;
    align-items: stretch;
    padding: 1rem;
}
.specification-editor .ace_gutter {
    border-right: 1px solid #eee;
    background: #f7f7f7;
}

.specification-editor .check-controls [name=origin] {
    flex: 1 1 auto;
    margin-right: .5rem;
}
.specification-editor .check-controls [type=submit] {
    background: rgb(18, 18, 219);
    color: #eee;
    border: none;
}