name: "Build and test"
on:
  pull_request:
  push:
jobs:

  build:
    strategy: 
      matrix: 
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2.3.1
    - uses: cachix/install-nix-action@v10
    - uses: cachix/cachix-action@v6
      with:
        name: quickstrom
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: nix show-config
    - run: nix-env -i nix-build-uncached
    - run: nix-build-uncached default.nix
    - run: nix-build-uncached specs/integration-tests.nix
      if: matrix.os == 'ubuntu-latest'
    - run: nix-shell --run "echo OK"

  build-docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.1
    - uses: cachix/install-nix-action@v10
    - uses: cachix/cachix-action@v6
      with:
        name: quickstrom
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: docker load -i $(nix-build-uncached docker.nix)
    - run: docker login --username botstrom --password "$DOCKER_HUB_ACCESS_TOKEN"
      if: github.ref == 'refs/heads/main'
      env:
        DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - run: docker load -i $(nix-build-uncached docker.nix)
    - run: docker push quickstrom/quickstrom:latest
      if: github.ref == 'refs/heads/main'
